<nav class="navbar navbar-expand-lg  navbar-dark bg-dark" >
  <a class="navbar-brand" href="#">OVT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/carteira-mensal">Carteira Mensal</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Estratégia com Opções
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/trava-alta">Travas de Alta</a>
          <a class="dropdown-item" routerLink="/trava-baixa">Travas de Baixa</a>
          <div class="divider"></div>
          <a class="dropdown-item" routerLink="/straddle">Straddle</a>
          <div class="divider"></div>
          <a class="dropdown-item" routerLink="/compra-seco">Compra a Seco</a>
          <a class="dropdown-item" routerLink="/venda-coberta">Venda Coberta</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/area-usuario">Minha Área</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/artigos">Artigos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/contato">Contato</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sobre">Sobre</a>
      </li>

    </ul>
  </div>
</nav>
