<div class="row">
    <div class="col">
        <app-quadro-informacao-ativo codigo='PETR4'></app-quadro-informacao-ativo>
    </div>
    <div class="col">
        <app-quadro-informacao-ativo></app-quadro-informacao-ativo>
    </div>
    <div class="col">
        <app-quadro-informacao-ativo></app-quadro-informacao-ativo>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-quadro-informacao-ativo></app-quadro-informacao-ativo>
    </div>
    <div class="col">
        <app-quadro-informacao-ativo></app-quadro-informacao-ativo>
    </div>
    <div class="col">
        <app-quadro-informacao-ativo></app-quadro-informacao-ativo>
    </div>
</div>
